# Base Python
python-dotenv
requests
transformers

# LangGraph + LangChain
langgraph
langchain
langchain-core
langchain-ollama

# Smolagents (agents + outils)
smolagents

# Recherche Web
duckduckgo-search
ddgs

# Serveur/API (pour exposer ton bot en local ou web)
fastapi
uvicorn

# Tests et utils
pytest
